@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Poppins", sans-serif;
  --color-bg: #fff;
  /* --color-bg: #000000; */
  --primary-c: #004AAD;
  --secondary-c: #38b6ff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* background-color: var(--color-bg); */
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar:horizontal{
  width: 0;
}


::-webkit-scrollbar-track{
  background-color: rgb(78, 82, 88,0.4);
}

::-webkit-scrollbar-thumb{
  background-color: var(--primary-c);
  border-radius: 10px;
}

a {
  font-weight: 500;
  color: var(--primary-c);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-c);
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-c);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
